name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *" # 每天UTC时间0点运行一次
  workflow_dispatch: # 允许手动触发
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with:
          github_user_name: ChenXu233 # 替换为你的用户名
          svg_out_path: dist/github-snake.svg

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
